<div class="container">
  <div class="row">
    <ng-container *ngFor="let friend of friends; let i = index;">
      <div class="col-3" *ngIf="i % 2 === 0">
        <mat-card *ngIf="friend.friendReq.status === 'success'">
          <ng-container>
            <div class="row">
              <div class="col-3">
                <span class="index">
                  #{{i + 1}}
                </span>

              </div>
              <div class="col-9">
                <span class="username">
                  {{friend.user.name}}
                  <i class="fa-solid fa-circle" [ngClass]="friend.user.online ? 'online' : 'offline'"></i>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="experience" *ngIf="friend.user.experienceLevel"
                  [ngClass]="{'beginner': friend.user.experienceLevel === 'BEGINNER', 'junior': friend.user.experienceLevel === 'JUNIOR', 'medior': friend.user.experienceLevel === 'MEDIOR', 'senior': friend.user.experienceLevel === 'SENIOR'}">
                  <!-- <b>experience:</b> -->
                  {{friend.user.experienceLevel}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a class="btn-sm-rect" [routerLink]="'../users/profile'" [queryParams]="{id: friend.user._id}"
                  routerLinkActive="router-link-active">Visit profile</a>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </div>

      <div class="col-3" *ngIf="i % 2 !== 0">
        <mat-card *ngIf="friend.friendReq.status === 'success'">
          <ng-container>
            <div class="row">
              <div class="col-3">
                <span class="index">
                  #{{i + 1}}
                </span>

              </div>
              <div class="col-9">
                <span class="username">
                  {{friend.user.name}}
                  <i class="fa-solid fa-circle" [ngClass]="friend.user.online ? 'online' : 'offline'"></i>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="experience" *ngIf="friend.user.experienceLevel"
                  [ngClass]="{'beginner': friend.user.experienceLevel === 'BEGINNER', 'junior': friend.user.experienceLevel === 'JUNIOR', 'medior': friend.user.experienceLevel === 'MEDIOR', 'senior': friend.user.experienceLevel === 'SENIOR'}">
                  <!-- <b>experience:</b> -->
                  {{friend.user.experienceLevel}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a class="btn-sm-rect" [routerLink]="'../users/profile'" [queryParams]="{id: friend.user._id}"
                  routerLinkActive="router-link-active">Visit profile</a>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </ng-container>


    <!-- <div class="col-12">
      <mat-card>
        <ng-container>
          <div class="row">
            <div class="col-4">
              <p><b>From userId:</b> {{friend.user.name}}</p>
            </div>
            <div class="col-8">
              <p *ngIf="friend.user.experienceLevel">
                <b>experience:</b>
                {{friend.user.experienceLevel}}
              </p>
            </div>
          </div>
        </ng-container>
      </mat-card>
    </div> -->

  </div>
</div>
