<div class="container">
  <div class="row">
    <ng-container *ngFor="let friend of friends; let i = index;">
      <div class="col-3" *ngIf="i % 2 === 0">
        <mat-card *ngIf="friend.friendReq.status === 'success'">
          <ng-container>
            <div class="row">
              <div class="col-4">
                #{{i + 1}}

              </div>
              <div class="col-8">
                {{friend.user.name}}
                <i class="fa-solid fa-circle" [ngClass]="friend.user.online ? 'online' : 'offline'"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p *ngIf="friend.user.experienceLevel">
                  <b>experience:</b>
                  {{friend.user.experienceLevel}}
                </p>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </div>

      <div class="col-3" *ngIf="i % 2 !== 0">
        <mat-card *ngIf="friend.friendReq.status === 'success'">
          <ng-container>
            <div class="row">
              <div class="col-4">
                #{{i + 1}}
              </div>
              <div class="col-8">
                {{friend.user.name}}
                <i class="fa-solid fa-circle" [ngClass]="friend.user.online ? 'online' : 'offline'"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p *ngIf="friend.user.experienceLevel">
                  <b>experience:</b>
                  {{friend.user.experienceLevel}}
                </p>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </ng-container>


    <!-- <div class="col-12">
      <mat-card>
        <ng-container>
          <div class="row">
            <div class="col-4">
              <p><b>From userId:</b> {{friend.user.name}}</p>
            </div>
            <div class="col-8">
              <p *ngIf="friend.user.experienceLevel">
                <b>experience:</b>
                {{friend.user.experienceLevel}}
              </p>
            </div>
          </div>
        </ng-container>
      </mat-card>
    </div> -->

  </div>
</div>
