/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e1e1e1; }

.version-display {
  position: absolute;
  bottom: 0;
  left: 24px;
}

.white {
  color: #fff;
}

i.fa-circle {
  font-size: 7px;
  &.offline {
    color: red;
  }
  &.online {
    color: green;
  }
}
/********************* Register & Login ***********************
***************************************************************/
login, register {
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;

  #loginForm, #registerForm {
    padding: 15px;
  }

  .info-link a {
    color: #000;
  }
}

/************************* Dashboard ***************************
***************************************************************/
dashboard {

  .mat-list-base {
    padding-top: 0;

    .mat-list-item {
      border: 1px solid #ccc;
      margin: 8px 0;

      &:not(first-of-type) {
        margin-top: 0;
      }
    }
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option { height: 45px !important;}

  .mat-button-toggle-standalone, .mat-button-toggle-group {
    display: initial;
    border: 0;

    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
      border-left: 1px solid #ccc;
    }


    .mat-button-toggle-label-content {
      width: 100%;
      position: relative;
      height: 45px;

      i {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
      }
    }

    .language {
      width: calc(100% / 4 - 8px);
      height: 45px;
      float: left;
      border: 1px solid #ccc;
      margin: 4px 4px;

      &:nth-of-type(-n+4) {
        margin-top: 0;
      }
    }

  }
}


/************************* Users ***************************
***************************************************************/

users {

}


/********************* B O O T S T R A P ***********************
***************************************************************/
button.btn {
  margin-top: 3px;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
	pointer-events: initial;
	opacity: .5;
	cursor: not-allowed;
}

button, .btn {
  color: #fff;
  i {
    color: #fff;
  }
}
