<div class="container" *ngIf="!user">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <h1>Loading user profile ..</h1>
      </mat-card>
    </div>
  </div>
</div>


<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <h1>User: {{user.name}}</h1>
      </mat-card>
    </div>
  </div>
</div>



<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-9">
      <mat-card>
        <h1>PROFILE PT 2</h1>
        <div class="row">
          <div class="col-3">
            CHAPTER 1
          </div>
          <div class="col-9">
            CHAPTER 2
          </div>
        </div>
      </mat-card>

    </div>
    <div class="col-3">
      <mat-card>
        <h1>Actions</h1>
        <div class="row">
          <div class="col-12">
            <div class="action-1">
              <button class="btn btn-info">Action 1!</button>
            </div>
            <div class="action-2">
              <button class="btn btn-info">Action 2!</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
