.mat-card {
  cursor: pointer;
  .block {
    color: #fff;
  }
}

.friend-requests {
  background-color: #02a0a0;
}

.friendlist {
  background-color: #026ba0;
}

.friendlist-two {
  background-color: rgb(70, 120, 220);
}
