<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-12">
        <h1>Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt accusamus totam veritatis ab nostrum, cum
          blanditiis minima fugiat harum laudantium dicta maxime aspernatur commodi dolore architecto. Accusamus
          voluptates autem magni!
          Voluptatibus a error natus eius recusandae facere consequuntur. Sed repudiandae maiores mollitia ipsum
          laborum. Rerum repellat dolore distinctio, a adipisci minus, magnam qui eligendi sunt aperiam quidem eum atque
          iste?
          Corrupti mollitia, quos voluptatibus eos quae nihil error sint labore, placeat voluptatum ad ex nemo autem
          vitae qui aut ipsum, repellendus porro vero quaerat? Quod modi repellat ex error obcaecati?
          Nobis ab tenetur ipsa pariatur esse illum molestiae ipsum, expedita non eveniet natus quos error dolorum
          nostrum laborum aperiam veritatis sequi repellendus? Quos illo quod nihil blanditiis aliquid, id ex!
          Quo in architecto velit dolorem non rerum quia unde reprehenderit error veniam corrupti praesentium hic nobis
          itaque, quisquam obcaecati aspernatur facere fugiat. Illo fuga aliquam tempora corrupti atque ex sapiente?
          Sequi aperiam facere architecto harum labore molestiae iure voluptas blanditiis doloribus. Iure qui
          repudiandae ad, blanditiis nulla enim harum nemo quos deserunt odio nihil? Iure aliquam nulla libero facere
          distinctio?
          Doloribus harum est quidem sunt! Id velit tenetur deserunt quibusdam quae atque ipsa incidunt laudantium.
          Sequi accusamus debitis cum voluptatibus qui earum. Aut nam porro cupiditate quae id officiis laudantium.</p>
      </div>
    </div>
  </mat-card>
</div>
